body.default {
    --color: rgb(211, 165, 242);
    --dark-color: rgb(172, 132, 199);
    background-image: url(bg3.png);
    background-attachment: fixed;
    background-size: cover;
  }
  body * {
    color: white;
    font-family: verdana;
  }
  .desklogobar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 34px;
    box-sizing: border-box;
    display: block;
    font-family: "Frutiger";
    background: url(jq-global-nav.png) repeat-x 0 bottom #252525;
    display: flex;
    align-items: center;
    animation-duration: 2s;
    animation-name: slideInLeft;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75), inset 0px 0px 0px 1px rgba(37, 34, 34, 0.5), inset 0px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.5);
    text-shadow: 0px 1px 4px rgba(255, 255, 255, 0.5);
    justify-content: center;
  }
  .desklargelogo{
    background: linear-gradient(to bottom, var(--color) 0%, var(--dark-color) 100%);
    max-width: 65%;
    height: 150px;
    padding-top: 10px;
    margin: auto;
    margin-top: 32px;
    text-align: center;
    font-size: 30px;
    color: white;
    animation-duration: 2s;
    animation-name: slideInRight;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75), inset 0px 0px 0px 1px rgba(37, 34, 34, 0.5), inset 0px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.5);
    text-shadow: 0px 1px 4px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: left;
    font-family: "Frutiger";
    font-size: 50px;
  }

  .logo{
    width: 25px;
    height: 25px;
  }
  .largelogo {
    width: 125px;
    margin-bottom: 20px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  @font-face {
    font-family: "frutiger";
    src: url('Frutiger.ttf');
  }
  .desknav {
    top: 0;
    left: 0;
    margin-top: 220px;
    margin: auto;
    width: 65%;
    height: 34px;
    box-sizing: border-box;
    display: block;
    animation-duration: 2s;
    animation-name: slideInLeft;
    background: url(jq-global-nav.png) repeat-x 0 bottom #252515;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75), inset 0px 0px 0px 1px rgba(37, 34, 34, 0.5), inset 0px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.5);
    text-shadow: 0px 1px 4px rgba(255, 255, 255, 0.5);
  }
  nav a {
    color: white;
    text-decoration: none;
    margin: 7px;
    display: inline-block;
  }
  .navbutton {
    float: left;
    
  }
  .navbutton {
    text-align: left;
    display: inline;
    margin: 0;
    list-style: none;
    border-right: 2px solid rgba(255, 255, 255, 0.205);
    border-left: 2px solid rgba(255, 255, 255, 0.205);
    padding: 0px;
    color: white;
    text-decoration: none;
    margin: 7px;
    display: inline-block;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  .navbutton {
    font: bold 13px/17px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    display: inline-block;
    position: relative;
    top: 1px;
    cursor: pointer;
    transition: all 0.2s;
    text-shadow: 0 0 2px #000;
    border-left: 1px solid rgba(255, 255, 255, 0.0976562);
    border-right: 1px solid rgba(0, 0, 0, 0.347656);
    color: white;
    text-decoration: none;
    margin: 7px;
    display: inline-block;
  }
  .navbutton:hover {
    box-shadow:
      inset 0px 0px 0px 1px rgba(37, 34, 34, 0.5), inset 0px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.5);
    ;
  }
  .dropbtn {
    display: block;
    color: white;
    font-size: 16px;
    width: 70px;
    height: 50px;
    align-content: center;
    border: none;
    cursor: pointer;
    padding: 0px;
    background-image: url("github-mark.png"), linear-gradient(rgba(211, 165, 242) 0%, rgb(172, 132, 199) 100%);
    background-size: 30px, 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  .dropdown {
    position: absolute;
    right: 0;
    color: black;
  }
  .appear {
    color: black;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown a:hover {
    background-image: linear-gradient(rgba(211, 165, 280) 0%, rgb(172, 132, 280) 100%);
  }
  .show {
    display: block;
  }
  #git {
    height: 30px;
    padding: 0px;
  }
  h4 {
    font-size: 20px;
    display: flex;
    margin-bottom: 35px;
    margin-left: 10px;
    flex-direction: column-reverse;
  }
  .container {
    width: 65%;
    height: 1000px;
    margin: 0px auto;
  }
  .section {
    display: grid;
    grid-template-areas:
      "img info"
      "subinfo subinfo";
  }
  .img {
    grid-area: img;
    width: 100%;
    animation-duration: 2s;
    animation-name: slideInRight;
  }
  .info {
    grid-area: info;
    background-image: linear-gradient(var(--color) 0%, var(--dark-color) 100%);
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75), inset 0px 0px 0px 1px rgba(37, 34, 34, 0.5), inset 0px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.5);
    animation-duration: 2s;
    animation-name: slideInRight;
  }
  .text {
    padding-left: 7px;
  }
  .subinfo {
    grid-area: subinfo;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75), inset 0px 0px 0px 1px rgba(37, 34, 34, 0.5), inset 0px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.5);
    font-family: "frutiger";
    padding: 10px;
    padding-top: 10px;
    color: white;
    background: url(info.png) repeat-x 0 bottom #252525;
    animation-duration: 2s;
    animation-name: slideInLeft;
  }
  .footer {
    width: 100%;
    font-family: "frutiger";
    height: 50px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: white;
    background: url(info.png) repeat-x 0 bottom #252525;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75), inset 0px 0px 0px 1px rgba(37, 34, 34, 0.5), inset 0px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.5);
    animation-duration: 2s;
    animation-name: slideInRight;
  }
  .img {
    height: 283px;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75), inset 0px 0px 0px 1px rgba(37, 34, 34, 0.5), inset 0px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.5);
    text-shadow: 0px 1px 4px rgba(255, 255, 255, 0.5);
  }
  .img1 {
    align-content: center;
    display: flex;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75), inset 0px 0px 0px 1px rgba(37, 34, 34, 0.5), inset 0px -1px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.5);
  }
  @media only screen and (max-width : 799px) {
    .desklogobar {
      width: 100%;
    }
    .desklargelogo {
      display: none !important;
    }
    .desknav {
      position: absolute;
      left: 0;
      margin-top: 30px;
      width: 100vw;
    }
  }