nav .desknav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 34px;
    box-sizing: border-box;
    display: block;
    font-family: "Frutiger";
    background: url(jq-global-nav.png) repeat-x 0 bottom #252525;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 7px;
    display:inline-block;
}
.navbutton {
    float: left;
}
.navbutton{
    text-align: left;
    display: inline;
    float: left;
    margin: 0;
    list-style: none;
    border-right: 2px solid rgba(255, 255, 255, 0.205);
    border-left: 2px solid rgba(255, 255, 255, 0.205);
    padding: 0px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.navbutton {
    font: bold 13px/17px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    display: inline-block;
    position: relative;
    top: 1px;
    cursor: pointer;
    transition: all 0.2s;
    text-shadow: 0 0 2px #000;
    border-left: 1px solid rgba(255, 255, 255, 0.0976562);
    border-right: 1px solid rgba(0, 0, 0, 0.347656);
}
.navbutton:hover{
    box-shadow:
    inset 0px 0px 0px 1px rgba(37, 34, 34, 0.5),
    inset 0px -1px 0px 1px rgba(0, 0, 0, 0.5),
    inset 0px 1px 0px 1px rgba(255, 255, 255, 0.5);;
}